@model IEnumerable<SportsStore.Models.ShipmentOrders>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>
<hr />
<div id="Grid">
    @{
        var name = Model.First()._ShippingDetails.NAME;
    }
    <h6> <strong>ORDERED BY :</strong> <em> @name.ToString() </em></h6>
    <table class="table table-striped" cellpadding="5" cellspacing="0" style="border: 1px solid #ccc;font-size: 9pt;">
        <thead>
            <tr>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">
                    @Html.DisplayNameFor(model => model.PRODUCT_NAME)
                </th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">
                    @Html.DisplayNameFor(model => model.QUANTITY)
                </th>
                <th style="background-color: #B8DBFD;border: 1px solid #ccc">
                    @Html.DisplayNameFor(model => model.PRICE)
                </th>
                @*<th></th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PRODUCT_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QUANTITY)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PRICE)
                    </td>
                    @*<td>
                <a asp-action="Edit" asp-route-id="@item.AUTO_ID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.AUTO_ID">Delete</a>
                </td>*@
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2" class="text-right">Total:</td>
                <td class="text-right">@Model.Sum(x=>x.PRICE)</td>
            </tr>
        </tfoot>
    </table>
</div>
<form asp-action="Export" asp-controller="ShippingDetails" target="_blank" method="post">
    @Html.Hidden("GridHtml")
    <input type="submit" id="btnSubmit" value="PDF" style="width:100px;background-color:maroon;color:white;" />
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function () {
                //var a = $("input[name='GridHtml']").val();
                var a = $("#GridHtml").val();
                var b = $("#Grid").html();

                //alert(a);
                //alert(b);

                $("#GridHtml").val($("#Grid").html());
            });
        });
    </script>

}