@model IEnumerable<SportsStore.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AUTO_ID" class="btn btn-success">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.AUTO_ID" class="btn btn-primary">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.AUTO_ID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
