@model IEnumerable<SportsStore.Models.ViewModels.ProductViewModel>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstOrDefault().Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstOrDefault().Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstOrDefault().Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstOrDefault().Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model=>model.ImagePath)
        </dt>
        <dd  class = "col-sm-10">             
            @foreach (var i in Model)
            {
                if (i.ImagePath != null)
                {
                    <img class="img-fluid" style="height:300px;width:300px;" src="@Url.Content(i.ImagePath)" />
                   @*  <img class="img-fluid" style="height:300px;width:300px;" src="data:ImageData;base64,@System.Convert.ToBase64String(i.ImageData)" /> *@
                }
                else
                {
                    <p> No image </p>
                }
            }                
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}